@charset "UTF-8";

@font-face {
	font-family: "Spoqa Han Sans";
	font-weight: 700;
	src: local("Spoqa Han Sans Bold"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.ttf")
			format("truetype");
}

@font-face {
	font-family: "Spoqa Han Sans";
	font-weight: 400;
	src: local("Spoqa Han Sans Regular"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.ttf")
			format("truetype");
}

@font-face {
	font-family: "Spoqa Han Sans";
	font-weight: 300;
	src: local("Spoqa Han Sans Light"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.ttf")
			format("truetype");
}

@font-face {
	font-family: "Spoqa Han Sans";
	font-weight: 100;
	src: local("Spoqa Han Sans Thin"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.ttf")
			format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans CJK KR Regular"), local("Noto Sans CJK KR-Regular"),
		local("NotoSansCJKKR Regular");
	src: url(/assets/font/NotoSansCJKkr-Regular-subset.eot);
	src: url(/assets/font/NotoSansCJKkr-Regular-subset.eot?#iefix)
			format("embedded-opentype"),
		url(/assets/font/NotoSansCJKkr-Regular-subset.woff) format("woff"),
		url(/assets/font/NotoSansCJKkr-Regular-subset.otf) format("truetype");
}

/* 
=============================================================
All Device 
모든 해상도를 위한 공통 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. 
1920~ 1199px
=============================================================
*/

/* 공지사항 */

.title_notice {
	font-size: 36px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.54px;
	text-align: center;
	color: #ffffff;
	padding-top: 8.35%;
}

.notice_cont {
	width: 90.9%;
	max-width: 900px;
	margin: 0 auto;
	padding-top: 11.14%;
}

.notice_list {
	width: 100%;
	position: relative;
	text-align: left;
}

.notice_wrap {
	width: 100%;
	position: relative;
}

.notice_wrap a {
	width: 100%;
	display: inline-block;
}

.notice_tit_wrap {
	width: 100%;
	overflow: hidden;
	padding: 3.34% 2.23%;
	border-bottom: 1px solid #ececec;
}

.notice_tit_wrap_b {
	width: 100%;
	overflow: hidden;
	padding: 1.78% 2.23%;
	border-top: 1px solid #3d3f42;
	border-bottom: 1px solid #3d3f42;
}

.notice_tit_wrap:hover .notice_tit {
	color: #249feb;
}

.notice_num {
	width: 4%;
	float: left;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-stretch: condensed;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #4e7cff;
}

.notice_tit {
	width: 80%;
	float: left;
	margin-left: 2.33%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #3d3f42;
}

.notice_date {
	width: 10%;
	float: right;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #3d3f42;
}

.notice_num_b {
	width: 4%;
	float: left;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-stretch: condensed;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #3d3f42;
}
.notice_tit_b {
	width: 80%;
	float: left;
	margin-left: 2.33%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #3d3f42;
}

.notice_date_b {
	width: 10%;
	float: right;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #3d3f42;
}

/* 공지사항 상세 */
.view_content {
	width: 100%;
	margin: 0 auto;
	position: relative;
	border-bottom: 1px solid #3d3f42;
}

.view_content_tit {
	padding: 5.34% 7.12%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: normal;
	text-align: left;
	color: #3d3f42;
}

.view_btn_wrap {
	margin: 0 auto;
	margin-top: 2.92%;
	text-align: center;
	padding-bottom: 10.42%;
}

.btn_tit {
	display: inline-block;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #3d3f42;
	padding: 0.84% 2.5%;
	margin: 0 auto;
	border: 1px solid #3d3f42;
	cursor: pointer;
}

.btn_tit:hover {
	color: #fff;
	background-color: #3d3f42;
}

/* Tablet Device 대응
사용자 해상도가 991px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/

@media screen and (max-width: 991px) {
	/* 공지사항 */

	.title_notice {
		font-size: 28px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.42px;
		text-align: center;
		color: #ffffff;
		padding-top: 18.21%;
	}

	.notice_cont {
		max-width: none;
		padding-top: 10.25%;
	}

	/* 공지사항 상세 */
	.view_btn_wrap {
		margin-top: 6.25%;
	}

	.btn_tit {
		padding: 2.09% 4.69%;
	}
}

/* Lagre Device 대응
사용자 해상도가 768px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/

@media screen and (max-width: 768px) {
	/* 공지사항 */
	.title_notice {
		font-size: 24px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.42px;
		text-align: center;
		color: #ffffff;
		padding-top: 18.28%;
	}

	.notice_cont {
		width: 79.1%;
		padding-top: 16.52%;
	}

	.notice_tit_wrap {
		padding-top: 4.95%;
		padding-bottom: 4.95%;
	}

	.notice_tit_wrap_b {
		padding-top: 3.3%;
		padding-bottom: 3.3%;
	}

	.notice_date_b,
	.notice_date {
		display: none;
	}

	.notice_num_b,
	.notice_num {
		width: 5%;
	}

	.notice_tit,
	.notice_tit_b {
		width: 92%;
	}
}

/* Medium Device 대응
사용자 해상도가 576px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/

@media screen and (max-width: 576px) {
	/* 공지사항 */
	.title_notice {
		font-size: 18px;
		padding-top: 26.14%;
	}

	.notice_cont {
		width: 83.3%;
		padding-top: 12.56%;
	}

	.notice_tit_b,
	.notice_tit,
	.notice_num,
	.notice_num_b,
	.notice_date,
	.notice_date_b {
		font-size: 16px;
		line-height: 1.5;
	}

	.notice_num,
	.notice_num_b {
		width: 10%;
	}

	.notice_tit {
		width: 85%;
	}

	.notice_tit_b {
		width: 85%;
		font-size: 12px;
	}

	.notice_num_b {
		font-size: 12px;
	}
}
