@charset "UTF-8";

@font-face {
	font-family: "Spoqa Han Sans";
	font-weight: 700;
	src: local("Spoqa Han Sans Bold"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.ttf")
			format("truetype");
}

@font-face {
	font-family: "Spoqa Han Sans";
	font-weight: 400;
	src: local("Spoqa Han Sans Regular"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.ttf")
			format("truetype");
}

@font-face {
	font-family: "Spoqa Han Sans";
	font-weight: 300;
	src: local("Spoqa Han Sans Light"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.ttf")
			format("truetype");
}

@font-face {
	font-family: "Spoqa Han Sans";
	font-weight: 100;
	src: local("Spoqa Han Sans Thin"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.woff2")
			format("woff2"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.woff")
			format("woff"),
		url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.ttf")
			format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans CJK KR Regular"), local("Noto Sans CJK KR-Regular"),
		local("NotoSansCJKKR Regular");
	src: url(/assets/font/NotoSansCJKkr-Regular-subset.eot);
	src: url(/assets/font/NotoSansCJKkr-Regular-subset.eot?#iefix)
			format("embedded-opentype"),
		url(/assets/font/NotoSansCJKkr-Regular-subset.woff) format("woff"),
		url(/assets/font/NotoSansCJKkr-Regular-subset.otf) format("truetype");
}

/* 
=============================================================
All Device 
모든 해상도를 위한 공통 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. 
1920~ 1199px
=============================================================
*/

/* HEADER */

.header {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 60px;
	background-color: #6359fa;
	position: fixed;
	z-index: 999;
}

.header_logo {
	padding: 32px 0;
}

.logo {
	width: 205px;
	height: 36px;
}

.header_nav_list {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.header_nav_item {
	margin: 0 24px;
}

.header_nav_item:last-child {
	margin-right: 0;
}

.header_nav_item:hover {
	opacity: 0.5;
}

/* Content */

html,
body {
	width: 100%;
	height: 100%;
}

#wrap {
	width: 100%;
	height: 100%;
	position: relative;
}

/* Section1 */

.section1 {
	width: 100vw;
	height: 100vh;
	min-height: 100%;
	position: relative;
	background-color: #161922;
}

.section1_inner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-image: url("../assets/images/bg-icons-lg.svg");
	background-repeat: no-repeat;
	background-position: center 78%;
	background-size: 120% auto;
}

.section1_text {
	flex-basis: 30%;
	width: 100%;
	max-width: 900px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-end;
	/*         
        border: 1px solid orange; */
}

.section1_sub {
	margin: 0 auto;
	margin-top: 13%;
	font-family: GmarketSansLight;
	font-size: 32px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -2.13px;
	text-align: center;
	color: #ffffff;
}

.section1_tit {
	padding-top: 1.1%;
	width: 38.5%;
	height: auto;
	margin: 0 auto;
}

.section1_image {
	overflow: hidden;
	flex-basis: 70%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	/* 
        border: 1px solid yellow; */
}

.img_app {
	width: 23%;
	padding-top: 2.77%;
	height: auto;
	margin: 0 auto;
}

/* Section2 : service 1 */
.section2 {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to right, #00b1ff 0%, #6359fa 85%),
		linear-gradient(to bottom, #161922, #161922);
	display: flex;
	justify-content: center;
	align-items: center;
}

.section2_inner {
	width: 90.9%;
	max-width: 900px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	overflow: hidden;
}

.section2_text {
	width: 100%;
	padding-top: 15%;
}

.section2_tit {
	width: 100%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 56px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -1.17px;
	text-align: center;
	color: #ffffff;
}

.section2_txt {
	margin-top: 3%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: -1px;
	text-align: center;
	color: #ffffff;
}

.section2_image {
	width: 100%;
	flex-basis: 63.9%;
}

.img_character {
	width: 60%;
	height: auto;
	margin: 0 auto;
	padding-top: 13%;
}

/* Section3 : feature */

.section3 {
	width: 100vw;
	height: 100vh;
	background-color: #ffffff;
}

.section3_inner_lg {
	width: 90.9%;
	max-width: 900px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.section3_inner_sm {
	display: none;
}

.btn_left_wrap {
	display: inline-block;
	margin-right: 3.89%;
	cursor: pointer;
}

.btn_right_wrap {
	display: inline-block;
	margin-left: 3.89%;
	cursor: pointer;
}

.btn_left,
.btn_right {
	width: 48px;
	height: 48px;
}

.section3_image_area {
	position: relative;
}

.feature {
	width: 351px;
	height: 614px;
}

.section3_text_area {
	text-align: left;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

.feature_tit {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 32px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: -1px;
	color: #3d3f42;
}

.feature_txt {
	margin-top: 5.48%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #3d3f42;
}

.indicator_wrap {
	margin-top: 30.78%;
	font-size: 0;
	margin-left: 2%;
}

.dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #ccc;
	margin-right: 10px;
}

.dot.active {
	width: 30px;
	background-color: #4e7cff;
}

.btn_right_wrap {
	display: inline-block;
	margin-left: 5.22%;
}

/* Section4 : download */
.section4 {
	width: 100vw;
	height: 100vh;

	background-image: url("../assets/images/bg-download@3x.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

.section4_inner {
	width: 90.9%;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding-top: 13.03%; */
	overflow: hidden;
}

.section4_text_area {
	flex-basis: 44.3%;
	text-align: left;
	padding-top: 1.12%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.app_logo {
	flex-basis: 11.25%;
	width: 200px;
	height: 36px;
}

.section4_title {
	flex-basis: 27.8%;
	margin-top: 1.6%;
	text-align: left;
}

.section4_tit {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 60px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -1px;
	color: #ffffff;
}

.section4_txt {
	margin-top: 7.18%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: -0.83px;
	color: #ffffff;
}

.download_btn {
	width: 214px;
	margin-top: 12.76%;
	display: inline-block;
	padding: 4.79% 9.57%;
	box-sizing: border-box;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
	font-size: 0;
}

.download_btn a {
	display: inline-block;
	text-align: center;
}

.img_google {
	display: inline-block;
	width: 20px;
	height: 22px;
	padding-top: 1.11%;
	padding-right: 2.21%;
}

.download_txt {
	display: inline-block;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 24px;
	font-weight: bold;
	font-stretch: condensed;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #444444;
}

.section4_image_area {
	text-align: right;
}

.download_img {
	width: 373px;
	height: 581px;
}

/* Vertical Navigation */
.vertical_nav {
	position: fixed;
	z-index: 100;
	top: 50%;
	left: 30px;
	opacity: 1;
	margin-top: -105px;
}

.nav_wrap {
	display: block;
	width: 16px;
	height: 16px;
	position: relative;
	margin-bottom: 56px;
}

.nav_wrap::after {
	content: "";
	display: block;
	background: url("../assets/images/nav-circle.svg");
	width: 2px;
	height: 44px;
	margin: 6px 0;
	margin-left: 6px;
}

.nav_wrap:last-child {
	margin-bottom: 0;
}

.nav_wrap:last-child::after {
	display: none;
}

.nav_item {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.nav_small {
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: rgba(229, 229, 229, 0.5);
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -4px 0 0 -4px;
}

.active_white {
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 100%;
	position: relative;
	z-index: 10;
}

.active_blue {
	width: 16px;
	height: 16px;
	background-color: #4e7cff;
	border-radius: 100%;
	position: relative;
	z-index: 10;
}

.nav_wrap:nth-child(1) .active_white::before {
	content: "";
	font-family: "Roboto Condensed", sans-serif;
	font-size: 10px;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	letter-spacing: -0.31px;
	text-align: center;
	color: #3d3f42;
	margin-left: 5.5px;
}

.nav_wrap:nth-child(2) .active_white::before {
	content: "";
	font-family: "Roboto Condensed", sans-serif;
	font-size: 10px;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	letter-spacing: -0.31px;
	text-align: center;
	color: #fff;
	margin-left: 5.5px;
}

.nav_wrap:nth-child(3) .active_blue::before {
	content: "";
	font-family: "Roboto Condensed", sans-serif;
	font-size: 10px;
	font-weight: bold;
	font-stretch: condensed;
	letter-spacing: -0.31px;
	font-style: italic;
	text-align: center;
	color: #fff;
	margin-left: 5.5px;
}

.nav_wrap:nth-child(4) .active_white::before {
	content: "";
	font-family: "Roboto Condensed", sans-serif;
	font-size: 10px;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	text-align: center;
	color: #282c39;
	margin-left: 5.5px;
}

.active_white::after {
	content: "";
	position: absolute;
	width: 20px;
	left: 14px;
	top: 7px;
	height: 1px;
	background-color: #fff;
}

.active_blue::after {
	content: "";
	position: absolute;
	width: 20px;
	left: 14px;
	top: 7px;
	height: 1px;
	background-color: #4e7cff;
}

.active_title {
	width: 80px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 42px;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: -0.5px;
	color: #fff;
}

.active_title.blue {
	color: #4e7cff;
}

.nav_title {
	display: none;
}

/* Footer */
.footer {
	width: 100vw;
	background-color: #000000;
	padding: 3.13% 0 3.65%;
}

.footer_inner {
	width: 90.9%;
	max-width: 900px;
	margin: 0 auto;
}

.footer_name {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.5px;
	color: #bbbbbb;
}

.footer_detail {
	margin-top: 1.45%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #808080;
}

.detail_txt {
	margin-bottom: 0.5%;
}

.detail_txt:first-child::after {
	content: "";
	display: inline-block;
	background: url("../assets/images/line-footer-666.svg");
	width: 1px;
	height: 10px;
	margin: 0 6px;
	margin-top: 5px;
}

.footer_tab {
	margin-top: 2.57%;
}

.footer_tab_item {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 13px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

.footer_tab_item::after {
	content: "";
	display: inline-block;
	background: url("../assets/images/line-footer-979797.svg");
	width: 1px;
	height: 10px;
	margin: 0 6px;
	margin-top: 5px;
}

.footer_tab_item:last-child::after {
	display: none;
}

.footer_sns {
	width: 100%;
	margin-top: 20px;
	font-size: 0;
}

.footer_item {
	display: inline-block;
	padding: 0 5px;
}

.footer_item:first-child {
	padding-left: 0;
}

/* FAQ */
.wrapper {
	width: 100%;
	font-family: "Noto Sans KR", sans-serif;
	position: relative;
}

.title_wrap {
	width: 100%;
	background-color: #f9fafb;
	padding-bottom: 68px;
}

.title_faq {
	max-width: 900px;
	margin: 0 auto;
	font-size: 40px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -1.5px;
	text-align: center;
	color: #3d3f42;
	padding-top: 60px;
}

.text_faq {
	max-width: 900px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -1px;
	text-align: center;
	color: #3d3f42;
	margin-top: 13px;
}

.search_wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 685px;
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid #eaeaea;
	margin-top: 78px;
	position: relative;
	padding: 14px 0;
	text-align: left;
}

.ic_search {
	width: 16px;
	height: 16px;
	position: absolute;
	left: 20px;
	top: 14px;
}

.search_input {
	display: block;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.5px;
	color: #3d3f42;
	margin-left: 52px;
	border: none;
	width: 90%;
	box-sizing: border-box;
	background-color: transparent;
}

.search_input::placeholder {
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.5px;
	color: #cccccc;
}

input[type="text"] {
	padding: 0;
	height: inherit;
}

.faq_cont {
	width: 100%;
}

.faq_tab {
	padding-top: 11.14%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: top;
}

.faq_tab a:first-child {
	margin-right: 4.02%;
}

.stocks,
.advisory {
	font-size: 30px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #d6d6d6;
}

.stocks.active,
.advisory.active {
	color: #3d3f42;
	padding-bottom: 0.56%;
	border-bottom: 3px solid #4e7cff;
}

.faq_list {
	width: 100%;
	background-color: #f9fafb;
	margin: 0 auto;
	padding-bottom: 22px;
	border-bottom: 1px solid #dedede;
}

.stocks_list {
	max-width: 900px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.faq_select {
	display: none;
}

.stocks_list li {
	display: inline-block;
}

.stocks_list li::after {
	content: "";
	display: inline-block;
	font-size: 0;
	width: 1px;
	height: 12px;
	opacity: 0.5;
	background-color: #ccc;
}

.stocks_list li:last-child::after {
	display: none;
}

.faq_box {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 22px;
	margin-bottom: 100px;
	border-bottom: 1px solid #ececec;
	position: relative;
}

.qlist {
	width: 100%;
	position: relative;
}

.faq_wrap {
	width: 100%;
	position: relative;
}

.question {
	width: 100%;
	display: inline-block;
	position: relative;
	padding: 44px 50px;
	border-top: 1px solid #ececec;
	cursor: pointer;
	border-bottom: 1px solid #dedede;
}

.question:first-child {
	border-top: none;
}

.question_section {
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.5px;
	color: #9a9a9a;
}

.question_tit {
	font-size: 22px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.5px;
	color: #3d3f42;
	margin-top: 10px;
	padding-right: 96px;
}

.question_tit.active {
	position: relative;
	font-weight: bold;
	color: #4e7cff;
}

.ic_arrow_down {
	width: 46px;
	height: 46px;
	position: absolute;
	right: 45px;
	top: 50%;
	margin-top: -23px;
}

.ic_arrow_up {
	width: 46px;
	height: 46px;
	position: absolute;
	right: 45px;
	top: 50%;
	margin-top: -23px;
}

/* .question::before {
	content: "Q";
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	padding-top: 4px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	background-image: url("../assets/images/img-blue-circle.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
} */

.answer {
	padding: 40px 44px 44px 44px;
	background-color: #f9fafb;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}

.answer_txt {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.63;
	letter-spacing: -0.5px;
	color: #3d3f42;
	margin-bottom: 10px;
}

.txt_md {
	font-weight: 700;
}

.txt_blue {
	color: #4e7cff;
}

.answer_txt:last-child {
	margin-bottom: 0;
}

.press_number_wrap {
	width: 100%;
	text-align: center;
	margin-top: 4.46%;
	margin-bottom: 22.83%;
}

.press_number_list {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.press_prev,
.press_next {
	display: inline-block;
	width: 2.23%;
	cursor: pointer;
}

.press_prev {
	margin-right: 1.5%;
}

.press_next {
	margin-left: 1.5%;
}

.press_prev a,
.press_next a {
	display: block;
	padding: 20%;
}

.press_num {
	display: inline-block;
	width: 4.37%;
	margin: 0 0.42%;
	cursor: pointer;
}

.press_num.on {
	background-image: url("../assets/images/ic-sub-04-circle-gray.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.num {
	display: block;
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: normal;
	font-stretch: condensed;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	padding: 28.9% 0;
}

.num.on {
	color: #249feb;
}

/* 공지사항 */

.title_notice {
	font-size: 36px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.54px;
	text-align: center;
	color: #ffffff;
	padding-top: 8.35%;
}

.notice_cont {
	width: 90.9%;
	max-width: 900px;
	margin: 0 auto;
	padding-top: 11.14%;
}

.notice_list {
	width: 100%;
	position: relative;
	text-align: left;
}

.notice_wrap {
	width: 100%;
	position: relative;
}

.notice_wrap a {
	width: 100%;
	display: inline-block;
}

.notice_tit_wrap {
	width: 100%;
	overflow: hidden;
	padding: 3.34% 2.23%;
	border-bottom: 1px solid #ececec;
}

.notice_tit_wrap_b {
	width: 100%;
	overflow: hidden;
	padding: 1.78% 2.23%;
	border-top: 1px solid #3d3f42;
	border-bottom: 1px solid #3d3f42;
}

.notice_tit_wrap:hover .notice_tit {
	color: #249feb;
}

.notice_num {
	width: 4%;
	float: left;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-stretch: condensed;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #4e7cff;
}

.notice_tit {
	width: 80%;
	float: left;
	margin-left: 2.33%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #3d3f42;
}

.notice_date {
	width: 10%;
	float: right;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #3d3f42;
}

.notice_num_b {
	width: 4%;
	float: left;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-stretch: condensed;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #3d3f42;
}
.notice_tit_b {
	width: 80%;
	float: left;
	margin-left: 2.33%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #3d3f42;
}

.notice_date_b {
	width: 10%;
	float: right;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #3d3f42;
}

/* 공지사항 상세 */
.view_content {
	width: 100%;
	margin: 0 auto;
	position: relative;
	border-bottom: 1px solid #3d3f42;
}

.view_content_tit {
	padding: 5.34% 7.12%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: normal;
	text-align: left;
	color: #3d3f42;
}

.view_btn_wrap {
	margin: 0 auto;
	margin-top: 2.92%;
	text-align: center;
	padding-bottom: 10.42%;
}

.btn_tit {
	display: inline-block;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #3d3f42;
	padding: 0.84% 2.5%;
	margin: 0 auto;
	border: 1px solid #3d3f42;
	cursor: pointer;
}

.btn_tit:hover {
	color: #fff;
	background-color: #3d3f42;
}

/* 네비게이터 삭제
사용자 해상도가 1200px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/

@media screen and (max-width: 1200px) {
	.nav_wrap {
		display: none;
	}
}

/* Tablet Device 대응
사용자 해상도가 991px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/

@media screen and (max-width: 991px) {
	/* Header */

	.header_nav_item {
		margin: 0 20px;
	}

	/* Section1 : main */
	.section1_text {
		flex-basis: 20%;

		width: 72.5%;
		max-width: 719px;
	}

	.section1_sub {
		margin-top: 14.15%;
		font-family: GmarketSansLight;
		font-size: 32px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -2.13px;
		text-align: center;
		color: #ffffff;
	}

	.section1_tit {
		width: 48.2%;
		padding-top: 2.94%;
	}

	.section1_image {
		flex-basis: 80%;
		width: 72.5%;
		max-width: 719px;
	}

	.img_app {
		width: 70.9%;
		padding-top: 8.39%;
	}

	/* Section2 : service 1 */
	.section2_inner {
		width: 72.5%;
		max-width: 719px;
	}

	.section2_tit {
		font-size: 48px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -1px;
		text-align: center;
		color: #ffffff;
	}

	.section2_txt {
		margin-top: 2.99%;
		font-size: 18px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.44;
		letter-spacing: -0.9px;
		text-align: center;
		color: #ffffff;
	}

	.img_character {
		width: 76.4%;
		padding-top: 17.94%;
	}

	/* Section3 : feature */
	.section3_inner_lg {
		display: none;
	}

	.section3 {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.section3_inner_sm {
		display: flex;
		width: 72.5%;
		max-width: 719px;
		margin: 0 auto;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	.section3_up {
		width: 60%;
		margin: 0 auto;
		display: flex;
		justify-content: space-b;
		align-items: center;
	}

	.btn_left_wrap {
		margin-right: 2.99%;
		height: auto;
	}

	.btn_right_wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 2.99%;
	}

	.btn_left,
	.btn_right {
		width: 32px;
		height: 32px;
	}

	.section3_text_area {
		text-align: center;
		margin: 0 auto;
	}

	.feature_tit {
		font-size: 28px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.29;
		letter-spacing: -0.78px;
		text-align: center;
		color: #3d3f42;
	}

	.feature_txt {
		margin-top: 5.13%;
		font-size: 18px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.44;
		letter-spacing: normal;
		text-align: center;
		color: #3d3f42;
	}
	/* 
	.section3_br {
		display: none;
	} */

	.indicator_wrap {
		margin: 0 auto;
		text-align: center;
		margin-top: 12.31%;
	}

	.dot {
		width: 8px;
		height: 8px;
		margin-right: 8px;
	}

	.dot.active {
		width: 24px;
	}

	.section3_down {
		width: 72.5%;
		max-width: 719px;
		text-align: center;
		margin: 0 auto;
		text-align: center;
		position: relative;
		margin-top: 6.34%;
	}

	.feature {
		margin: 0 auto;
	}

	/* Section4 : download */

	.section4 {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.section4_inner {
		width: 72.5%;
		max-width: 719px;
		flex-flow: column-reverse;
		padding-top: 0;
	}

	.section4_image_area {
		text-align: center;
	}

	.download_img {
		width: 278px;
		height: 434px;
	}

	.section4_text_area {
		text-align: center;
		margin: 0 auto;
		padding-top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.app_logo {
		width: 156px;
		height: 28px;
		margin: 0 auto;
		margin-top: 15.58%;
	}

	.section4_title {
		text-align: center;
		margin-top: 0;
	}

	.section4_tit {
		font-size: 60px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.6;
		letter-spacing: -1px;
		text-align: center;
		color: #ffffff;
	}

	.section4_txt {
		margin-top: 2.29%;
		font-size: 18px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.44;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
	}

	.download_btn {
		margin-top: 11.13%;
		padding: 5.01% 10.02%;
	}

	.download_btn a {
	}

	.download_img {
		width: 278px;
		height: 434px;
		margin: 0 auto;
	}

	/* Footer */
	.footer {
		padding: 6.57% 0;
	}

	.footer_inner {
		max-width: none;
	}

	/* FAQ */

	.title_faq {
		width: 100%;
		max-width: 770px;
		margin: 0 auto;
		font-size: 40px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -1.5px;
		text-align: center;
		color: #3d3f42;
		padding-top: 60px;
	}

	.search_wrap {
		max-width: 770px;
		margin-top: 78px;
	}

	.faq_cont {
		max-width: none;
	}

	.faq_tab {
		padding-top: 10.25%;
	}

	.stocks.active {
		padding-bottom: 3.22%;
	}

	.faq_list {
		width: 100%;
		background-color: #f9fafb;
		margin: 0 auto;
		padding-bottom: 22px;
		border-bottom: 1px solid #dedede;
	}

	.stocks_list {
		max-width: 770x;
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}

	.faq_box {
		width: 100%;
		max-width: 770px;
		margin: 0 auto;
		margin-top: 22px;
		margin-bottom: 100px;
		border-bottom: 1px solid #ececec;
		position: relative;
	}

	.question {
		width: 100%;
		display: inline-block;
		position: relative;
		padding: 36px;
		border-top: 1px solid #ececec;
		cursor: pointer;
		border-bottom: 1px solid #dedede;
	}

	.question_section {
		font-size: 16px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.5px;
		color: #9a9a9a;
	}

	.question_tit {
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.5px;
		color: #3d3f42;
		margin-top: 10px;
		padding-right: 96px;
	}

	.ic_arrow_down,
	.ic_arrow_up {
		width: 40px;
		height: 40px;
		position: absolute;
		right: 36px;
		top: 50%;
		margin-top: -20px;
	}

	.answer {
		padding: 36px;
		background-color: #f9fafb;
		border-top: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
	}

	.answer_txt {
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.63;
		letter-spacing: -0.5px;
		color: #3d3f42;
		margin-bottom: 10px;
	}

	/* 공지사항 */

	.title_notice {
		font-size: 28px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.42px;
		text-align: center;
		color: #ffffff;
		padding-top: 18.21%;
	}

	.notice_cont {
		max-width: none;
		padding-top: 10.25%;
	}

	/* 공지사항 상세 */
	.view_btn_wrap {
		margin-top: 6.25%;
	}

	.btn_tit {
		padding: 2.09% 4.69%;
	}
}

/* Lagre Device 대응
사용자 해상도가 768px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/

@media screen and (max-width: 768px) {
	/* Header */
	.header {
		padding: 0 30px;
	}

	.header_logo {
		padding: 18px 0;
	}

	.logo {
		width: 137px;
		height: 24px;
	}

	.header_nav_item {
		margin: 0 15px;
	}

	/* Section 1 */
	.section1 {
		background-image: url("../assets/images/bg-icons.svg");
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center 50%;
	}

	.section1_text {
		max-width: 576px;
		margin: 0 auto;
	}

	.section1_sub {
		margin-top: 30.65%;
		font-size: 26px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -1.87px;
		text-align: center;
		color: #ffffff;
	}

	.section1_tit {
		width: 48.26%;
		height: auto;
		padding-top: 3.61%;
	}

	.section1_image {
		padding-top: 20%;
	}

	.img_app {
		width: 80%;
	}

	/* Section2 : service 1 */
	.section2_inner {
		max-width: 576px;
		margin: 0 auto;
	}

	.section2_tit {
		font-size: 38px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.88px;
		text-align: center;
		color: #ffffff;
	}

	.section2_txt {
		margin-top: 2.01%;
		font-size: 18px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.44;
		letter-spacing: -0.9px;
		text-align: center;
		color: #ffffff;
	}

	.img_character {
		padding-top: 35.92%;
	}

	/* Section3 : feature */
	.section3_up {
		padding-top: 12.9%;
		width: 78%;
	}

	.btn_left_wrap {
		margin-right: 5.01%;
	}

	.btn_right_wrap {
		margin-left: 5.01%;
	}

	.feature_tit {
		font-size: 24px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.33;
		letter-spacing: -0.67px;
		text-align: center;
		color: #3d3f42;
	}

	.feature_txt {
		width: 100%;
		margin-top: 5.47%;
		font-size: 18px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.44;
		letter-spacing: normal;
		text-align: center;
		color: #3d3f42;
	}

	.section3_down {
		margin-top: 9.75%;
	}

	/* Section4 : download */

	.section4_inner {
		padding-top: 16.15%;
	}

	.section4_image_area {
		flex-basis: 36%;
	}

	.section4_text_area {
		flex-basis: 64%;
	}

	.app_logo {
		margin-top: 15.58%;
	}

	.section4_tit {
		font-size: 48px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.48;
		letter-spacing: -0.8px;
		text-align: center;
		color: #ffffff;
	}

	.section4_txt {
		margin-top: 6.68%;
		font-size: 18px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.44;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
	}

	.download_btn {
		margin-top: 13.35%;
	}

	/* FAQ */
	.title_wrap {
		padding-bottom: 48px;
	}

	.title_faq {
		max-width: 580px;
		margin: 0 auto;
		font-size: 32px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -1.5px;
		text-align: center;
		color: #3d3f42;
		padding-top: 60px;
	}

	.text_faq {
		font-size: 16px;
	}

	.search_wrap {
		margin: 0 auto;
		width: 90.9%;
		max-width: 608px;
		background-color: #ffffff;
		border-radius: 4px;
		border: 1px solid #eaeaea;
		margin-top: 48px;
		position: relative;
		padding: 14px 0;
		text-align: left;
	}

	.ic_search {
		width: 16px;
		height: 16px;
		position: absolute;
		left: 20px;
		top: 14px;
	}

	.search_input {
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.5px;
		margin-left: 48px;
		margin-top: 0.3%;
	}

	.search_input::placeholder {
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.13;
		letter-spacing: -0.5px;
	}

	.faq_cont {
		width: 100%;
	}

	.faq_tab {
		padding-top: 16.52%;
	}

	.faq_tab a:first-child {
		margin-right: 5.97%;
	}

	.stocks.active,
	.advisory.active {
		padding-bottom: 3.22%;
	}

	.faq_list {
		width: 100%;
		text-align: center;
		padding-bottom: 30px;
	}

	.stocks_list {
		display: none;
	}

	.faq_select {
		display: inline-block;
		width: 90.9%;
		max-width: 608px;
		margin: 0 auto;
		border: 1px solid #eaeaea;
		border-radius: 4px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		font-size: 16px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #3d3f42;
		padding: 16px 20px;
		background-image: url("../assets/images/ic-arrow-down.svg");
		background-repeat: no-repeat;
		background-size: 30px 30px;
		background-position: 96.5%;
		background-color: #fff;
	}

	.select::-ms-expand {
		display: none;
	}

	.faq_box {
		width: 100%;
		max-width: 608px;
		margin-top: 10px;
	}

	.question {
		padding: 30px 36px;
	}

	.question_section {
		font-size: 14px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.5px;
		color: #9a9a9a;
	}

	.question_tit {
		font-size: 16px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #3d3f42;
		margin-top: 4px;
	}

	.ic_arrow_down,
	.ic_arrow_up {
		display: none;
	}

	/* .question::before {
		width: 20px;
		height: 20px;
		font-size: 13px;
		text-align: center;
		padding-top: 4px;
	} */

	.answer {
		padding: 30px 36px;
	}

	.answer_txt {
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.63;
		letter-spacing: -0.5px;
		color: #3d3f42;
		margin-bottom: 6px;
	}

	.press_number_wrap {
		margin-top: 3.23%;
		margin-bottom: 24.78%;
	}

	.press_prev,
	.press_next {
		display: inline-block;
		width: 3.66%;
		vertical-align: top;
	}

	.press_prev a,
	.press_next a {
		display: block;
		padding: 20%;
	}

	.press_num {
		width: 7.25%;
		margin: 0 0.62%;
	}

	.num {
		padding: 32.34% 0;
	}

	/* 공지사항 */
	.title_notice {
		font-size: 24px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.42px;
		text-align: center;
		color: #ffffff;
		padding-top: 18.28%;
	}

	.notice_cont {
		width: 79.1%;
		padding-top: 16.52%;
	}

	.notice_tit_wrap {
		padding-top: 4.95%;
		padding-bottom: 4.95%;
	}

	.notice_tit_wrap_b {
		padding-top: 3.3%;
		padding-bottom: 3.3%;
	}

	.notice_date_b,
	.notice_date {
		display: none;
	}

	.notice_num_b,
	.notice_num {
		width: 5%;
	}

	.notice_tit,
	.notice_tit_b {
		width: 92%;
	}
}

/* Medium Device 대응
사용자 해상도가 576px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/

@media screen and (max-width: 576px) {
	/* Header */

	.header {
		padding: 0 16px;
	}

	.header_nav_item {
		margin: 0 6px;
	}

	.logo {
		height: 16px;
		width: auto;
	}

	a.nav_txt {
		font-size: 11px;
		padding: 20px 10px;
	}

	/* Section1 */

	.section1_text {
		flex-basis: 22%;
	}

	.section1_sub {
		margin-top: 40%;
		font-size: 14px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -1.2px;
		text-align: center;
		color: #ffffff;
	}

	.section1_tit {
		padding-top: 4.17%;
		width: 60%;
		height: auto;
	}

	.img_app {
		width: 90%;
	}

	/* Section2 : service 1 */
	.section2_inner {
		max-width: 480px;
		width: 83.3%;
		margin: 0 auto;
		margin-top: 35%;
	}

	.section2_tit {
		font-size: 24px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.58px;
		text-align: center;
		color: #ffffff;
	}

	.section2_txt {
		margin-top: 3.44%;
		font-size: 12px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: -0.8px;
		text-align: center;
		color: #ffffff;
	}

	.img_character {
		width: 66.66%;
	}

	/* Section3 : feature */

	.section3_inner_sm {
		width: 100%;
		max-width: 480px;
	}
	.section3_up {
		padding-top: 14.41%;
		width: 85%;
	}

	.btn_left_wrap {
		margin-right: 4.59%;
	}

	.btn_right_wrap {
		margin-left: 4.59%;
	}

	.btn_left,
	.btn_right {
		width: 28px;
		height: 28px;
	}

	.feature_tit {
		font-size: 18px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.3;
		letter-spacing: -0.56px;
		text-align: center;
		color: #3d3f42;
	}

	.feature_txt {
		margin-top: 3.77%;
		font-size: 12px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		text-align: center;
		color: #3d3f42;
	}

	.indicator_wrap {
		margin-top: 13.85%;
	}

	.dot {
		width: 6px;
		height: 6px;
		margin-right: 6px;
	}

	.dot.active {
		width: 18px;
	}

	.section3_down {
		flex-basis: 70.5%;
		margin-top: 6.88%;
	}

	.feature {
		width: 60%;
		max-width: 253px;
		height: auto;
	}

	/* Section4 : download */

	.section4_inner {
		padding-top: 15%;
	}

	.app_logo {
		width: 112px;
		height: 20px;
		margin-top: 13.35%;
	}

	.section4_tit {
		font-size: 42px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.47;
		letter-spacing: -0.7px;
		text-align: center;
		color: #ffffff;
	}

	.section4_txt {
		margin-top: 7.51%;
		font-size: 12px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
	}

	.download_btn {
		width: 167px;
		margin-top: 10.02%;
	}

	.download_txt {
		font-size: 20px;
		font-weight: bold;
		font-stretch: condensed;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #444444;
	}

	.download_img {
		width: 150px;
		height: auto;
	}

	/* .section4_inner {
			padding: 19.62% 0 16.32%;
	}

	.section4_tit {
			font-size: 28px;
	
	}

	.section4_txt {
			font-size: 14px;
			margin-top: 0.7%;
	}

	.download_btn {
			margin-top: 11.68%;
	}

	.download_btn a {
			padding: 3.49% 6.28%;
	}

	.section4_image_area {
			margin-top: 13.25%;
	}

	.ic_playstore {
			width: 24px;
			height: 24px;
	}

	.download_txt {
			font-size: 20px;
	}

	.section4_br {
			display: inline-block;
	}

	.download_img {
			width: 250px;
			height: 388px;
	}
*/

	/* Footer */
	.footer {
		padding: 9.73% 0;
	}

	.footer_inner {
		width: 84%;
	}

	.footer_name {
		font-size: 12px;
		letter-spacing: -0.43px;
	}

	.footer_detail {
		margin-top: 2.88%;
		font-size: 11px;
	}

	.detail_txt {
		margin-bottom: 1%;
	}

	.detail_txt:first-child::after {
		height: 8px;
	}

	.footer_tab {
		margin-top: 4.41%;
	}

	.footer_tab_item {
		font-size: 11px;
	}

	.footer_tab_item::after {
		height: 8px;
	}

	/* FAQ */
	.title_wrap {
		padding-bottom: 36px;
	}

	.title_faq {
		font-size: 24px;
		padding-top: 48px;
	}

	.text_faq {
		font-size: 14px;
	}

	.search_wrap {
		width: 83.3%;
		margin-top: 6.97%;
		padding: 12px 0;
	}

	.ic_search {
		width: 16px;
		height: 16px;
		left: 18px;
		top: 14px;
	}

	.search_input {
		font-size: 16px;
		line-height: 1.29;
		letter-spacing: -0.5px;
		margin-left: 46px;
	}

	.search_input::placeholder {
		font-size: 16px;
		line-height: 1.29;
		letter-spacing: -0.29;
	}

	.faq_select {
		width: 83.3%;
	}

	.faq_cont {
		width: 83.3%;
	}

	.faq_tab {
		padding-top: 12.56%;
	}

	.faq_tab a:first-child {
		margin-right: 5.05%;
	}

	.stocks,
	.advisory {
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
	}

	.stocks.active,
	.advisory.active {
		font-size: 20px;
	}

	.faq_list {
		margin-top: 16.75%;
	}

	.faq_box {
		margin-top: 6.28%;
		margin-bottom: 8.38%;
	}

	.question {
		padding: 5.05% 2.53% 5.05% 2.53%;
	}

	.question_tit {
		font-size: 13px;
	}

	.question::before {
		width: 20px;
		height: 20px;
		margin-right: 8px;
	}

	.answer {
		padding: 5.68% 8.2%;
	}

	.answer_txt {
		font-size: 12px;
		font-weight: 400;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.63;
		letter-spacing: -0.26px;
	}

	.press_number_wrap {
		margin-top: 8.42%;
	}

	.press_prev,
	.press_next {
		display: inline-block;
		width: 6%;
		vertical-align: top;
		padding-top: 0;
	}

	.press_prev a,
	.press_next a {
		display: block;
	}

	.press_num {
		width: 9.2%;
		margin: 0 1.17%;
	}

	.num {
		padding: 28.9% 0;
	}

	/* 공지사항 */
	.title_notice {
		font-size: 18px;
		padding-top: 26.14%;
	}

	.notice_cont {
		width: 83.3%;
		padding-top: 12.56%;
	}

	.notice_tit_b,
	.notice_tit,
	.notice_num,
	.notice_num_b,
	.notice_date,
	.notice_date_b {
		font-size: 16px;
		line-height: 1.5;
	}

	.notice_num,
	.notice_num_b {
		width: 10%;
	}

	.notice_tit {
		width: 85%;
	}

	.notice_tit_b {
		width: 85%;
		font-size: 12px;
	}

	.notice_num_b {
		font-size: 12px;
	}
}

@media screen and (max-width: 480px) {
	.img_app {
		width: 100%;
	}
}
