@charset "UTF-8";

/* Gmarket Sans Font */
@font-face {
	font-family: "GmarketSansLight";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "GmarketSansBold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

/* Noto Sans KR Font */
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

/* Roboto Condensed */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* 
=============================================================
All Device 
모든 해상도를 위한 공통 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. 
1920~ 1199px
=============================================================
*/

/* HEADER */

.header {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 60px;
	background-color: #282c39;
	position: fixed;
	z-index: 999;
}

.header_logo {
	padding: 14px 0;
}

.logo_lg {
	width: 187px;
	height: 32px;
}

.logo_sm {
	display: none;
}

.header_nav_list {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.header_nav_item {
	margin: 0 16px;
}

.header_nav_item:last-child {
	margin-right: 0;
}

.header_nav_item:hover {
	opacity: 0.5;
}

.nav_txt {
	font-family: "Noto Sans";
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

/* Content */

/* Section1 */

html,
body {
	width: 100%;
	height: 100%;
}

.content {
	width: 100%;
	position: relative;
}
.video_wrap {
	/* width: 100%;
	min-width: 100%;
	height: 100vh; */
	/* position: relative; */
	/* overflow: hidden; */
	/* z-index: -100; */
	/* position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;
	top: 0; */

	/*
		* Preventing flicker on some browsers
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
	/* -webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0); */
	width: 100%;
	min-width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	z-index: -100;
}

.video {
	/* position: absolute;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100%;
	width: auto;
	height: auto; */
	/* position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black;
	background-position: center center;
	background-size: contain;
	object-fit: cover; 
	z-index: 3; */
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	/* -webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0); */
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100vw;
	min-height: 100%;
	width: auto;
	height: auto;
}
.fp-slidesNav.fp-bottom {
	text-align: center !important;
}

.fp-controlArrow.fp-prev {
	border-color: transparent #000 transparent transparent !important;
}

.fp-controlArrow.fp-next {
	border-color: transparent transparent transparent #000 !important;
}

.section1 {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.section1_inner {
	width: 100%;
	height: 100%;
	position: relative;
}

.section1_text {
	width: 100%;
	position: absolute;
	padding-top: 9%;
	z-index: 10;
}

.section1_sub {
	font-family: GmarketSansLight;
	font-size: 30px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}

.section1_tit_img {
	width: 90.9%;
	margin: 0 auto;
	max-width: 800px;
	margin-top: 1.2%;
}

.section1_tit {
	display: none;
}

.section1_br {
	display: none;
}

/* Section2 : service 1 */
.section2 {
	width: 100vw;
	background-color: #fff;
}

.section2_inner {
	width: 90.9%;
	max-width: 900px;
	margin: 0 auto;
	text-align: left;
	padding-top: 6.98%;
}

.section2_tit {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 34px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.53;
	letter-spacing: normal;
	color: #343c55;
}

.section2_txt {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.48;
	letter-spacing: normal;
	color: #676d80;
	margin-top: 1.56%;
}

.num_money {
	width: 100%;
	text-align: right;
	padding: 11.56% 0 14.89%;
}

.num_txt {
	font-family: "Spoqa Han Sans", sans-serif;
	font-size: 80px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.4px;
	text-align: right;
	color: #4e7cff;
}

.num_txt span {
	font-size: 130px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #4e7cff;
}

/* Section2 : service 2 */
.section2_blue {
	width: 100vw;
	background-image: url("../assets/images/img-blue-bg-lg@3x.jpg");
	background-size: cover;
	background-position: center;
}

.font_white {
	color: #fff;
}

.font_whitegray {
	color: #c9dffe;
}

.num_time {
	width: 100%;
	text-align: right;
	padding: 11.56% 0 14.89%;
}

.time_txt {
	font-family: "Spoqa Han Sans", sans-serif;
	font-size: 80px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -1px;
	text-align: right;
	color: #fff;
	margin-bottom: 2.12%;
}

.time_txt span {
	font-size: 130px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
}

/* Section3 : feature */
.section3 {
	width: 100vw;
	height: 100%;
	position: relative;
	text-align: center;
	background-color: #fff;
}

.section3_inner_lg {
	width: 90.9%;
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn_left_wrap {
	display: inline-block;
	margin-right: 5.22%;
}

.btn_left,
.btn_right {
	width: 48px;
	height: 48px;
}

.section3_image_area {
	position: relative;
}

.device_wrap {
	width: 358px;
	height: 709px;
	z-index: 10;
	position: relative;
}

.screen_wrap {
	position: absolute;
	left: 29px;
	top: 88px;
}

.screen {
	width: 302px;
	height: 534px;
	z-index: 1;
}

.section3_text_area {
	text-align: left;
	margin-left: 4%;
}

.feature_wrap {
}

.feature_tit {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 36px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #343c55;
}

.feature_txt {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.4;
	letter-spacing: normal;
	color: #343c55;
	margin-top: 5.66%;
}

.indicator_wrap {
	margin-top: 46.45%;
	font-size: 0;
	margin-left: 2%;
}

.indicator {
}

.dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #ccc;
	margin-right: 10px;
}

.dot.active {
	width: 30px;
	background-color: #4e7cff;
}

.btn_right_wrap {
	display: inline-block;
	margin-left: 5.22%;
}

.section3_inner_sm {
	display: none;
}

/* Section4 : download */
.section4 {
	width: 100vw;
	text-align: center;
	background-image: url("../assets/images/bg-download@3x.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.section4_inner {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 8.7% 0 6.46%;
	display: flex;
	justify-content: space-between;
	align-items: top;
}

.section4_text_area {
	text-align: left;
	margin-top: 1.5%;
}

.app_logo img {
	width: auto;
	height: 32px;
}

.section4_title {
	margin-top: 5.16%;
	text-align: left;
}

.section4_tit {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 60px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

.section4_txt {
	margin-top: 1.13%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #bbbbbb;
}

.download_btn {
	margin-top: 14.35%;
	text-align: left;
}

.download_btn a {
	padding: 4.49% 8.08%;
	background-color: #fff;
	border-radius: 100px;
}

.ic_playstore {
	display: inline-block;
	width: 32px;
	height: 32px;
}

.download_txt {
	display: inline-block;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-stretch: condensed;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #171920;
	padding-top: 1%;
}

.section4_br {
	display: none;
}

.section4_image_area {
}

.download_img {
	width: 373px;
	height: 581px;
}

/* Vertical Navigation */
.vertical_nav {
	position: fixed;
	z-index: 100;
	top: 50%;
	left: 30px;
	opacity: 1;
	margin-top: -105px;
}

.nav_wrap {
	display: block;
	width: 16px;
	height: 16px;
	position: relative;
	margin-bottom: 56px;
}

.nav_wrap::after {
	content: "";
	display: block;
	background: url("../assets/images/nav-circle.svg");
	width: 2px;
	height: 44px;
	margin: 6px 0;
	margin-left: 6px;
}

.nav_wrap:last-child {
	margin-bottom: 0;
}

.nav_wrap:last-child::after {
	display: none;
}

.nav_item {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.nav_small {
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: rgba(229, 229, 229, 0.5);
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -4px 0 0 -4px;
}

.active_white {
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 100%;
	position: relative;
	z-index: 10;
}

.active_blue {
	width: 16px;
	height: 16px;
	background-color: #4e7cff;
	border-radius: 100%;
	position: relative;
	z-index: 10;
}

.nav_wrap:nth-child(1) .active_white::before {
	content: "1";
	font-family: "Roboto Condensed", sans-serif;
	font-size: 10px;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	letter-spacing: -0.31px;
	text-align: center;
	color: #343c55;
	margin-left: 5.5px;
}

.nav_wrap:nth-child(2) .active_blue::before {
	content: "2";
	font-family: "Roboto Condensed", sans-serif;
	font-size: 10px;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	letter-spacing: -0.31px;
	text-align: center;
	color: #fff;
	margin-left: 5.5px;
}

.nav_wrap:nth-child(2) .active_white::before {
	content: "2";
	font-family: "Roboto Condensed", sans-serif;
	font-size: 10px;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	letter-spacing: -0.31px;
	text-align: center;
	color: #4e7cff;
	margin-left: 5.5px;
}

.nav_wrap:nth-child(3) .active_blue::before {
	content: "3";
	font-family: "Roboto Condensed", sans-serif;
	font-size: 10px;
	font-weight: bold;
	font-stretch: condensed;
	letter-spacing: -0.31px;
	font-style: italic;
	text-align: center;
	color: #fff;
	margin-left: 5.5px;
}

.nav_wrap:nth-child(4) .active_white::before {
	content: "4";
	font-family: "Roboto Condensed", sans-serif;
	font-size: 10px;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	text-align: center;
	color: #282c39;
	margin-left: 5.5px;
}

.active_white::after {
	content: "";
	position: absolute;
	width: 20px;
	left: 14px;
	top: 7px;
	height: 1px;
	background-color: #fff;
}

.active_blue::after {
	content: "";
	position: absolute;
	width: 20px;
	left: 14px;
	top: 7px;
	height: 1px;
	background-color: #4e7cff;
}

.active_title {
	width: 80px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 42px;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.5px;
	color: #fff;
}

.active_title.blue {
	color: #4e7cff;
}

.nav_title {
	display: none;
}

/* Footer */
.footer {
	width: 100%;
	background-color: #171920;
	padding: 2.98% 0 3.76% 0;
}

.footer_inner {
	width: 90.9%;
	max-width: 900px;
	margin: 0 auto;
}

.footer_name {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.5px;
	color: #bbbbbb;
}

.footer_detail {
	margin-top: 1.45%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #808080;
}

.footer_detail_txt {
	margin-bottom: 0.5%;
}

.footer_detail_txt:first-child::after {
	content: "";
	display: inline-block;
	background: url("../assets/images/line-footer-666.svg");
	width: 1px;
	height: 10px;
	margin: 0 6px;
	margin-top: 5px;
}

.footer_tab {
	margin-top: 2.57%;
}

.footer_tab_item {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 13px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

.footer_tab_item::after {
	content: "";
	display: inline-block;
	background: url("../assets/images/line-footer-979797.svg");
	width: 1px;
	height: 10px;
	margin: 0 6px;
	margin-top: 5px;
}

.footer_tab_item:last-child::after {
	display: none;
}

/* FAQ */
.wrapper {
	width: 100%;
	font-family: "Noto Sans KR", sans-serif;
	position: relative;
}

.title_wrap {
	width: 100%;
	background-image: url("../assets/images/img-bg-faq@3x.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 2.51%;
}

.title_faq {
	font-size: 36px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.54px;
	text-align: center;
	color: #ffffff;
	padding-top: 8.35%;
}

.search_wrap {
	width: 80.7%;
	max-width: 800px;
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 27px;
	border: 1px solid #eaeaea;
	margin-top: 3.34%;
	position: relative;
	padding: 14px 0;
}

.ic_search {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 14px;
}

.search_input {
	display: block;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.27px;
	color: #343c55;
	margin-left: 52px;
	border: none;
	width: 90%;
	box-sizing: border-box;
	background-color: transparent;
}

.search_input::placeholder {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.27px;
	color: #cccccc;
}

input[type="text"] {
	padding: 0;
	height: inherit;
}

.faq_cont {
	width: 90.9%;
	max-width: 900px;
	margin: 0 auto;
}

.faq_tab {
	padding-top: 11.14%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: top;
}

.faq_tab span:first-child {
	margin-right: 4.02%;
}

.stocks,
.advisory {
	font-size: 30px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #d6d6d6;
	cursor: pointer;
}

.stocks.active,
.advisory.active {
	color: #343c55;
	padding-bottom: 0.56%;
	border-bottom: 3px solid #4e7cff;
}

.faq_list {
	margin-top: 12.25%;
}

.stocks_list {
	width: 100%;
	text-align: center;
}

.faq_select {
	display: none;
}

.stocks_list li {
	display: inline-block;
}

.list_item {
	padding: 0 10px;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #b6b6b6;
	cursor: pointer;
}

.list_item.active {
	color: #343c55;
	font-weight: bold;
}

.list_item::after {
	content: "";
	display: inline-block;
	font-size: 0;
	width: 1px;
	height: 10px;
	margin-left: 20px;
	background-color: #ccc;
}

.stocks_list li:last-child .list_item::after {
	display: none;
}

.faq_box {
	width: 100%;
	margin-top: 4.01%;
	margin-bottom: 4.46%;
	border-bottom: 1px solid #ececec;
	position: relative;
}

.qlist {
	width: 100%;
	position: relative;
}

.faq_wrap {
	width: 100%;
	position: relative;
}

.question {
	width: 100%;
	display: inline-block;
	padding: 3.58% 2.24% 3.58% 2.24%;
	border-top: 1px solid #ececec;
	cursor: pointer;
}

.question_tit {
	padding-left: 34px;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #343c55;
	margin-top: 5px;
}

.question_tit.active {
	position: relative;
	font-weight: bold;
}

.ic_arrow_down {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 2.4%;
	top: 33%;
}

.ic_arrow_up {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 2.4%;
	top: 10%;
}

.question::before {
	content: "Q";
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	padding-top: 4px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	background-image: url("../assets/images/img-blue-circle.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.answer {
	padding: 2.91% 6% 3.13% 6%;
	background-color: #f9fafb;
	border-top: 1px solid #eaeaea;
}

.answer_txt {
	font-size: 14px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.63;
	letter-spacing: -0.3px;
	color: #343c55;
	margin-bottom: 1.83%;
}

.txt_md {
	font-weight: 700;
}

.txt_blue {
	color: #4e7cff;
}

.answer_txt:last-child {
	margin-bottom: 0;
}

.press_number_wrap {
	width: 100%;
	text-align: center;
	margin-top: 4.46%;
	margin-bottom: 22.83%;
}

.press_number_list {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.press_prev,
.press_next {
	display: inline-block;
	width: 4.46%;
	cursor: pointer;
}

.press_prev p,
.press_next p {
	display: block;
	padding: 20%;
}

.press_num {
	display: inline-block;
	width: 4.37%;
	margin: 0 0.42%;
}

.press_num.on {
	background-image: url(../assets/images/ic-sub-04-circle-gray.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.num {
	display: block;
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: normal;
	font-stretch: condensed;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	padding: 28.9% 0;
	cursor: pointer;
}

.num.on {
	color: #249feb;
}

/* 공지사항 */

.title_notice {
	font-size: 36px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.54px;
	text-align: center;
	color: #ffffff;
	padding-top: 8.35%;
}

.notice_cont {
	width: 90.9%;
	max-width: 900px;
	margin: 0 auto;
	padding-top: 11.14%;
}

.notice_list {
	width: 100%;
	position: relative;
	text-align: left;
}

.notice_wrap {
	width: 100%;
	position: relative;
}

.notice_wrap a {
	width: 100%;
	display: inline-block;
}

.notice_tit_wrap {
	width: 100%;
	overflow: hidden;
	padding: 3.34% 2.23%;
	border-bottom: 1px solid #ececec;
}

.notice_tit_wrap_b {
	width: 100%;
	overflow: hidden;
	padding: 1.78% 2.23%;
	border-top: 1px solid #343c55;
	border-bottom: 1px solid #343c55;
}

.notice_tit_wrap:hover .notice_tit {
	color: #249feb;
}

.notice_num {
	width: 4%;
	float: left;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-stretch: condensed;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #4e7cff;
}

.notice_tit {
	width: 80%;
	float: left;
	margin-left: 2.33%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #343c55;
}

.notice_date {
	width: 10%;
	float: right;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #343c55;
}

.notice_num_b {
	width: 4%;
	float: left;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-stretch: condensed;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #343c55;
}
.notice_tit_b {
	width: 80%;
	float: left;
	margin-left: 2.33%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #343c55;
}

.notice_date_b {
	width: 10%;
	float: right;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #343c55;
}

/* 공지사항 상세 */
.view_content {
	width: 100%;
	margin: 0 auto;
	position: relative;
	border-bottom: 1px solid #343c55;
}

.view_content_tit {
	padding: 5.34% 7.12%;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: normal;
	text-align: left;
	color: #343c55;
}

.view_btn_wrap {
	margin: 0 auto;
	margin-top: 2.92%;
	text-align: center;
	padding-bottom: 10.42%;
}

.btn_tit {
	display: inline-block;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #343c55;
	padding: 0.84% 2.5%;
	margin: 0 auto;
	border: 1px solid #343c55;
	cursor: pointer;
}

.btn_tit:hover {
	color: #fff;
	background-color: #343c55;
}

/* 네비게이터 삭제
사용자 해상도가 1200px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/

@media screen and (max-width: 1200px) {
	.nav_wrap {
		display: none;
	}
}

/* Tablet Device 대응
사용자 해상도가 991px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/

@media screen and (max-width: 991px) {
	/* Header */

	.logo_lg {
		display: none;
	}

	.logo_sm {
		display: inline-block;
		width: 36px;
		height: 36px;
	}

	.header_nav_item {
		margin: 0 12px;
	}

	/* Section1 : main */
	.section1_text {
		max-width: none;
		padding-top: 20.23%;
	}

	.section1_tit_img {
		margin-top: 2.53%;
		width: 550px;
	}

	/* Section2 : service 1 */
	.section2_inner {
		max-width: none;
		text-align: center;
		padding-top: 12.23%;
	}

	.section2_tit {
		font-size: 28px;
		line-height: 1.86;
	}

	.section2_txt {
		font-size: 16px;
		margin-top: 1.6%;
	}

	.num_money {
		text-align: center;
		padding: 13.73% 0 14.34%;
	}

	.num_txt {
		font-size: 60px;
		text-align: center;
	}

	.num_txt span {
		font-size: 120px;
	}

	/* Section2 : service 2 */
	.num_time {
		padding: 13.73% 0 14.34%;
	}

	.time_txt {
		font-size: 60px;
		text-align: center;
	}

	.time_txt span {
		font-size: 120px;
	}

	/* Section3 : feature */
	.section3_inner_lg {
		display: none;
	}

	.section3_inner_sm {
		display: inline-block;
		max-width: none;
		width: 90.9%;
		margin: 0 auto;
		padding: 19.7% 0 22.33%;
		position: relative;
	}

	.section3_up {
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.btn_left_wrap {
		margin-right: 5.81%;
	}

	.btn_left {
		width: 42px;
		height: 42px;
	}

	.section3_text_area {
		text-align: center;
	}

	.feature_tit {
		font-size: 32px;
	}

	.feature_txt {
		font-size: 20px;
		margin-top: 10.1%;
	}

	.btn_right_wrap {
		margin-left: 5.81%;
	}

	.indicator_wrap {
		margin-top: 24.64%;
		margin-left: 0;
	}

	.dot {
		width: 8px;
		height: 8px;
		margin-right: 8px;
	}

	.dot.active {
		width: 24px;
	}

	.section3_down {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		position: relative;
	}

	.section3_image_area {
		display: inline-block;
		text-align: center;
		margin: 0 auto;
		margin-top: 11.95%;
	}

	.device_wrap {
		width: 340px;
		height: 673px;
	}

	.screen_wrap {
		position: absolute;
		left: 26px;
		top: 82px;
	}

	/* Section4 : download */
	.section4 {
		background-position: left;
	}

	.section4_inner {
		max-width: none;
		padding: 13.02% 0 6.46%;
		display: inline-block;
		text-align: center;
	}

	.section4_text_area {
		text-align: center;
		margin-top: 0;
	}

	.app_logo {
		display: none;
	}

	.section4_title {
		margin-top: 0;
	}

	.section4_tit {
		font-size: 36px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
	}

	.section4_txt {
		font-size: 20px;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.8;
		letter-spacing: normal;
		text-align: center;
		margin-top: 1.12%;
	}

	.download_btn {
		text-align: center;
		margin-top: 8.2%;
	}

	.download_btn a {
		padding: 2.03% 3.65%;
	}

	.ic_playstore {
		width: 24px;
		height: 24px;
	}

	.download_txt {
		font-size: 20px;
		font-weight: bold;
	}

	.section4_image_area {
		text-align: center;
		margin-top: 9.11%;
	}

	.download_img {
		width: 347px;
		height: 540px;
		display: inline-block;
	}

	/* Footer */
	.footer {
		padding: 6.57% 0;
	}

	.footer_inner {
		max-width: none;
	}

	/* FAQ */

	.title_wrap {
		padding-bottom: 7.29%;
	}

	.title_faq {
		font-size: 28px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.42px;
		text-align: center;
		color: #ffffff;
		padding-top: 18.21%;
	}

	.search_wrap {
		max-width: none;
		margin-top: 4.86%;
	}

	.faq_cont {
		max-width: none;
	}

	.faq_tab {
		padding-top: 10.25%;
	}

	.stocks.active {
		padding-bottom: 3.22%;
	}

	.faq_list {
		margin-top: 10.25%;
	}

	.question {
		padding: 3.47% 2.24% 3.47% 2.24%;
	}

	/* 공지사항 */

	.title_notice {
		font-size: 28px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.42px;
		text-align: center;
		color: #ffffff;
		padding-top: 18.21%;
	}

	.notice_cont {
		max-width: none;
		padding-top: 10.25%;
	}

	/* 공지사항 상세 */
	.view_btn_wrap {
		margin-top: 6.25%;
	}

	.btn_tit {
		padding: 2.09% 4.69%;
	}
}

/* Lagre Device 대응
사용자 해상도가 768px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/

@media screen and (max-width: 768px) {
	/* Header */
	.header {
		padding: 0 30px;
	}

	.nav_txt {
	}

	.section1 {
		width: 100vw;
		height: 100vh;
		background-image: url("../assets/images/img-main-sm@3x.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		background-color: #282c39;
	}

	.section1_text {
		padding-top: 21.34%;
	}

	.section1_sub {
		font-size: 26px;
	}

	.section1_tit_img {
		display: none;
	}

	.section1_tit {
		width: 100%;
		display: inline-block;
		font-family: GmarketSansBold;
		font-size: 48px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
		color: #4e7cff;
		margin: 0 auto;
		margin-top: 3.26%;
	}

	/* Section2 : service 1 */
	.section2_inner {
		padding-top: 16.8%;
	}

	.section2_tit {
		font-size: 24px;
		line-height: normal;
	}

	.section2_txt {
		margin-top: 2.59%;
	}

	.num_money {
		padding: 12.22% 0 19.11%;
	}

	.num_txt {
		font-size: 50px;
	}

	.num_txt span {
		font-size: 100px;
	}

	/* Section2 : service 2 */
	.num_time {
		padding: 12.22% 0 19.11%;
	}

	.time_txt {
		font-size: 50px;
	}

	.time_txt span {
		font-size: 100px;
	}

	/* Section3 : feature */
	.section3_inner_sm {
		padding: 27.35% 0 28.52%;
	}

	.btn_left_wrap {
		margin-right: 8.22%;
	}

	.btn_left,
	.btn_right {
		width: 32px;
		height: 32px;
	}

	.btn_right_wrap {
		margin-left: 8.22%;
	}

	.feature_tit {
		font-size: 28px;
	}

	.feature_txt {
		font-size: 18px;
		margin-top: 7.63%;
	}

	.indicator_wrap {
		margin-top: 29.62%;
	}

	.dot {
		width: 6px;
		height: 6px;
		margin-right: 6px;
	}

	.dot.active {
		width: 18px;
	}

	.section3_image_area {
		margin-top: 16%;
	}

	.device_wrap {
		width: 284px;
		height: 570px;
	}

	.screen_wrap {
		left: 19.28px;
		top: 69px;
	}

	.screen {
		width: 245.44px;
		height: 434.5px;
	}

	/* Section4 : download */
	.section4_inner {
		padding: 15.37% 0 9.51%;
	}

	.section4_tit {
		font-size: 28px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.86;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
	}

	.section4_txt {
		font-size: 18px;
		margin-top: 1.57%;
	}

	.download_btn {
		margin-top: 9.4%;
	}

	.download_btn a {
		padding: 2.62% 4.7%;
	}

	.ic_playstore {
		width: 20px;
		height: 20px;
	}

	.download_txt {
		font-size: 16px;
	}

	.section4_image_area {
		margin-top: 15.93%;
	}

	.download_img {
		width: 281px;
		height: 438px;
	}

	.footer {
		padding: 9.9% 0;
	}

	.footer_inner {
		width: 79.1%;
	}

	/* FAQ */
	.title_wrap {
		padding-bottom: 6.27%;
	}

	.title_faq {
		font-size: 24px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.42px;
		text-align: center;
		color: #ffffff;
		padding-top: 18.28%;
	}

	.search_wrap {
		margin-top: 6.27%;
		width: 79.1%;
	}

	.ic_search {
		width: 18px;
		height: 18px;
		top: 15px;
	}

	.search_input {
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.13;
		letter-spacing: -0.24px;
		margin-left: 48px;
		margin-top: 0.3%;
	}

	.search_input::placeholder {
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.13;
		letter-spacing: -0.24px;
	}

	.faq_cont {
		width: 79.1%;
	}

	.faq_tab {
		padding-top: 16.52%;
	}

	.faq_tab span:first-child {
		margin-right: 5.97%;
	}

	.stocks.active,
	.advisory.active {
		padding-bottom: 3.22%;
	}

	.faq_list {
		margin-top: 9.91%;
	}

	.list_item {
		padding: 0 16px;
		font-size: 13px;
		font-weight: 500;
	}

	.stocks_list {
		display: none;
	}

	.faq_select {
		display: inline-block;
		width: 100%;
		border: 1px solid #eaeaea;
		border-radius: 4px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		font-size: 14px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #343c55;
		padding: 16px 20px;
		background-image: url("../assets/images/ic-arrow-down.svg");
		background-repeat: no-repeat;
		background-size: 30px 30px;
		background-position: 96.5%;
		background-color: #fafafa;
	}

	.select::-ms-expand {
		display: none;
	}

	.faq_box {
		margin-top: 4.96%;
		margin-bottom: 6.61%;
	}

	.question {
		padding: 5.14% 3.32% 5.14% 3.32%;
	}

	.question_tit {
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #343c55;
		padding-left: 27px;
		margin-top: 4px;
	}

	.ic_arrow_down,
	.ic_arrow_up {
		display: none;
	}

	.question::before {
		width: 20px;
		height: 20px;
		font-size: 13px;
		text-align: center;
		padding-top: 4px;
	}

	.answer {
		padding: 4.15% 7.74%;
	}

	.answer_txt {
		font-size: 13px;
		font-weight: 400;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.63;
		letter-spacing: -0.28px;
		color: #343c55;
		margin-bottom: 3.18%;
	}

	.press_number_wrap {
		margin-top: 3.23%;
		margin-bottom: 24.78%;
	}

	.press_prev,
	.press_next {
		display: inline-block;
		width: 4.88%;
		vertical-align: top;
	}

	.press_prev p,
	.press_next p {
		display: block;
		padding: 20%;
	}

	.press_num {
		width: 7.25%;
		margin: 0 0.62%;
	}

	.num {
		padding: 32.34% 0;
	}

	/* 공지사항 */
	.title_notice {
		font-size: 24px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.42px;
		text-align: center;
		color: #ffffff;
		padding-top: 18.28%;
	}

	.notice_cont {
		width: 79.1%;
		padding-top: 16.52%;
	}

	.notice_tit_wrap {
		padding-top: 4.95%;
		padding-bottom: 4.95%;
	}

	.notice_tit_wrap_b {
		padding-top: 3.3%;
		padding-bottom: 3.3%;
	}

	.notice_date_b,
	.notice_date {
		display: none;
	}

	.notice_num_b,
	.notice_num {
		width: 5%;
	}

	.notice_tit,
	.notice_tit_b {
		width: 92%;
	}
}

/* Medium Device 대응
사용자 해상도가 576px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/

@media screen and (max-width: 576px) {
	.section1 {
		background-size: 120%;
		background-position: bottom center;
	}

	.section1_text {
		padding-top: 21.86%;
	}

	.section1_sub {
		font-size: 14px;
		line-height: 2;
	}

	.section1_tit {
		font-size: 36px;
		line-height: 1.22;
		margin-top: 0.88%;
	}

	.section1_br {
		display: inline-block;
	}

	/* Section2 : service 1 */
	.section2_inner {
		padding-top: 19.62%;
	}

	.section2_tit {
		font-size: 18px;
		line-height: normal;
	}

	.section2_txt {
		width: 74%;
		margin: 0 auto;
		font-size: 14px;
		line-height: 1.57;
		margin-top: 2.31%;
	}

	.section2_br {
		display: none;
	}

	.num_money {
		padding: 15.92% 0 18.6%;
	}

	.num_txt {
		font-size: 40px;
	}

	.num_txt span {
		font-size: 80px;
	}

	/* Section2 : service 2 */
	.num_time {
		padding: 15.92% 0 18.6%;
	}

	.time_txt {
		font-size: 40px;
	}

	.time_txt span {
		font-size: 80px;
	}

	/* Section3 : feature */
	.section3_inner_sm {
		width: 100%;
		padding: 23.27% 0 24.48%;
	}

	.btn_left_wrap {
		margin-right: 5.25%;
	}

	.btn_left,
	.btn_right {
		width: 28px;
		height: 28px;
	}

	.btn_right_wrap {
		margin-left: 5.25%;
	}

	.feature_tit {
		font-size: 24px;
	}

	.feature_txt {
		font-size: 14px;
		line-height: 1.57;
		margin-top: 10.39%;
	}

	.dot {
		width: 6px;
		height: 6px;
		margin-right: 6px;
	}

	.dot.active {
		width: 18px;
	}

	.section3_image_area {
		margin-top: 18.71%;
	}

	.device_wrap {
		width: 234px;
		height: 470px;
	}

	.screen_wrap {
		left: 16px;
		top: 58px;
	}

	.screen {
		width: 202px;
		height: 358px;
	}

	/* Section4 : download */
	.section4_inner {
		padding: 19.62% 0 16.32%;
	}

	.section4_tit {
		font-size: 28px;
	}

	.section4_txt {
		font-size: 14px;
		margin-top: 0.7%;
	}

	.download_btn {
		margin-top: 11.68%;
	}

	.download_btn a {
		padding: 3.49% 6.28%;
	}

	.section4_image_area {
		margin-top: 13.25%;
	}

	.ic_playstore {
		width: 24px;
		height: 24px;
	}

	.download_txt {
		font-size: 20px;
	}

	.section4_br {
		display: inline-block;
	}

	.download_img {
		width: 250px;
		height: 388px;
	}

	/* Footer */
	.footer {
		padding: 9.73% 0;
	}

	.footer_inner {
		width: 84%;
	}

	.footer_name {
		font-size: 12px;
		letter-spacing: -0.43px;
	}

	.footer_detail {
		margin-top: 2.88%;
		font-size: 11px;
	}

	.footer_detail_txt {
		margin-bottom: 1%;
	}

	.footer_detail_txt:first-child::after {
		height: 8px;
	}

	.footer_tab {
		margin-top: 4.41%;
	}

	.footer_tab_item {
		font-size: 11px;
	}

	.footer_tab_item::after {
		height: 8px;
	}

	/* FAQ */
	.title_wrap {
		padding-bottom: 9.06%;
	}

	.title_faq {
		font-size: 18px;
		padding-top: 26.14%;
	}

	.search_wrap {
		width: 83.3%;
		margin-top: 6.97%;
		padding: 12px 0;
	}

	.ic_search {
		width: 16px;
		height: 16px;
		left: 18px;
		top: 14px;
	}

	.search_input {
		font-size: 14px;
		line-height: 1.29;
		letter-spacing: -0.29;
		margin-left: 46px;
	}

	.search_input::placeholder {
		font-size: 14px;
		line-height: 1.29;
		letter-spacing: -0.29;
	}

	.faq_cont {
		width: 83.3%;
	}

	.faq_tab {
		padding-top: 12.56%;
	}

	.faq_tab span:first-child {
		margin-right: 5.05%;
	}

	.stocks,
	.advisory {
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
	}

	.stocks.active,
	.advisory.active {
		font-size: 20px;
	}

	.faq_list {
		margin-top: 16.75%;
	}

	.faq_box {
		margin-top: 6.28%;
		margin-bottom: 8.38%;
	}

	.question {
		padding: 5.05% 2.53% 5.05% 2.53%;
	}

	.question_tit {
		font-size: 13px;
	}

	.question::before {
		width: 20px;
		height: 20px;
		margin-right: 8px;
	}

	.answer {
		padding: 5.68% 8.2%;
	}

	.answer_txt {
		font-size: 12px;
		font-weight: 400;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.63;
		letter-spacing: -0.26px;
	}

	.press_number_wrap {
		margin-top: 8.42%;
	}

	.press_prev,
	.press_next {
		display: inline-block;
		width: 9.2%;
		vertical-align: top;
		padding-top: 0;
	}

	.press_prev p,
	.press_next p {
		display: block;
	}

	.press_num {
		width: 9.2%;
		margin: 0 1.17%;
	}

	.num {
		padding: 28.9% 0;
	}

	/* 공지사항 */
	.title_notice {
		font-size: 18px;
		padding-top: 26.14%;
	}

	.notice_cont {
		width: 83.3%;
		padding-top: 12.56%;
	}

	.notice_tit_b,
	.notice_tit,
	.notice_num,
	.notice_num_b,
	.notice_date,
	.notice_date_b {
		font-size: 16px;
		line-height: 1.5;
	}

	.notice_num,
	.notice_num_b {
		width: 10%;
	}

	.notice_tit {
		width: 85%;
	}

	.notice_tit_b {
		width: 85%;
		font-size: 12px;
	}

	.notice_num_b {
		font-size: 12px;
	}
}
